@font-face {
    font-family: 'Dom';
    src: url('dom/DomDiagonalBT.woff') format('woff');
}

@font-face {
    font-family: 'Monoid';
    src: url('monoid/Monoid-Retina.woff') format('woff');
}

@font-face {
    font-family: 'ArgentPixelCF';
    src: url('ArgentPixelCF-Italic.woff') format('woff');
}

body {
    image-rendering: pixelated;
    overflow-x: hidden;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.title {
    font-size: 20px;
    width: 100vw;
    font-family: 'monoid';
    font-weight: 700;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: repeat;
    background-size: 25%;
    image-rendering: pixelated;
    color: black;
}

body {
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

img {
    image-rendering: pixelated;
}

.text {
    font-family: 'Monoid';
    padding-top: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    margin: 0 auto;
    letter-spacing: -.25px;
    padding: 15px 0px 15px 0px;
    max-width: 500px;
    font-weight: 800;
}

.email {
    color: blue;
}

.email:hover {
    color: blue;
    text-decoration: underline;
}

.contact {
    margin-bottom: 5px;
}

@media (hover) {
    .contact:hover~.contact-pic {
        opacity: 100%;
    }

    .github:hover~.github-pic {
        opacity: 100%;
    }

    .projects:hover~.projects-pic {
        opacity: 100%;
    }

    .history:hover~.history-pic {
        opacity: 100%;
    }
}

@media screen and (max-width: 480px) {

    :root {
        margin-left: 20px;
        overflow-x: hidden;
    }

    .center {
        margin: auto;
        width: 100%;
        padding: 0px;
    }


    .title {
        font-size: 20px;
        padding: 15px 0px 0px 0px;
    }

    .text {
        font-size: 14px;
    }

    .para {
        width: 320px;
    }
}